<h1>About Bloccit</h1>
<p>Created by: Brendan McGivern</p>


<%= link_to "Bootstrap Button", "https://www.facebook.com/brendan.mcgivern.7", class: "btn btn-primary bstrap-btn" %>

<br />
<br />

<%= link_to "Custom Button", "https://www.facebook.com/brendan.mcgivern.7", class: "social-btn" %>



