.social-btn {
  position: absolute;
  margin-top: 6px;
  background: #333333;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
  color: #FF931E; 
  padding: 8px;
  width: 165px;
}

.bstrap-btn {
  position: absolute;
  width: 165px;
}
